students
{
text-allign:center;
background-color:grey;
}

student
{
display:block;
color:red;
}

name
{
display:block;
color:green;
}

email
{
display:block;
color:blue;
}
college
{
display:block;
color:blue;
}
yr
{
display:block;
color:yellow;
}
branch
{
display:block;
color:pink
}


student
{
display:block;
color:red;
}
name
{
display:block;
color:green;
}
email
{
display:block;
color:green;
}
college
{
display:block;
college:blue
}
branch
{
display:block;
color:pink
}
yr
{
color:yellow
}


student
{
display:block;
color:red;
}
name
{
display:block;
color:green;
}
email
{
display:block;
color:green;
}
college
{
display:block;
color:blue;
}
branch{
display:block;
color:pink
}
yr
{
color:yellow
}
